Repository codingcommons/tiny-tms: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc.json:

{
	"$schema": "http://json.schemastore.org/lintstagedrc.schema",

	"*.{js,ts,d.ts}": ["prettier --write", "eslint --fix"],
	"*.json": ["prettier --write"],
	"*.svelte": ["prettier --write", "eslint --fix"]
}

(feat) add user initials icon component (#86)
  src/components/ui/user-icon/index.ts
  src/components/ui/user-icon/user-default-icon.svelte
Due: prettier --write, eslint --fix

(feat) sidebar (#77)
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar.svelte
  src/components/ui/theme-selector/theme-selector.svelte
  src/routes/(auth)/+layout.svelte
  src/routes/(auth)/login/+page.server.ts
  src/routes/(auth)/login/login-form.svelte
  src/routes/(auth)/signup/+page.server.ts
  src/routes/(authenticated)/+layout.svelte
  src/routes/(authenticated)/+layout.ts
  src/routes/(authenticated)/profile/+page.svelte
  src/routes/(authenticated)/projects/+page.svelte
  src/routes/(authenticated)/projects/[id]/+layout.ts
  src/routes/(authenticated)/projects/[id]/keys/+page.svelte
  src/routes/(authenticated)/projects/[id]/languages/+page.svelte
  src/routes/(authenticated)/projects/[id]/settings/+page.svelte
  src/routes/(authenticated)/projects/[id]/translations/+page.svelte
  src/routes/+layout.svelte
  src/routes/guarded/+page.svelte
Due: prettier --write, eslint --fix

added renovate schedule for minor updates
  renovate.json
Due: prettier --write

migrated to svelte 5
  package.json
  pnpm-lock.yaml
Due: prettier --write

(feat) added renovate schedule for minor updates (#90)
  renovate.json
Due: prettier --write

added temporary fix for eslint-plugin-svelte
  eslint.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

renamed migration script for windows users and updated setupdb npm script
  package.json
  services/src/kysely/migrations/2024-04-28T09_init.ts
Due: prettier --write, eslint --fix

feedback
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

rename migrations file for windows users (#95)
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
  services/src/kysely/migrations/2024-04-28T09_init.ts
Due: prettier --write, eslint --fix

added automatic zod schema generation
  package.json
  pnpm-lock.yaml
  services/.gitignore
  services/scripts/genTypes.ts
Due: prettier --write, eslint --fix

added user service + test
  services/src/user/user-service.integration.test.ts
  services/src/user/user-service.ts
  services/src/user/user.ts
Due: prettier --write, eslint --fix

added feedback
  services/src/user/user-auth-service.integration.test.ts
  services/src/user/user-service.ts
  services/src/user/user.ts
  src/components/sidebar/sidebar.svelte
  src/routes/(authenticated)/+layout.server.ts
Due: prettier --write, eslint --fix

added first and last name to user
  services/src/auth/auth.unit.test.ts
  services/src/kysely/migrations/2024-04-28T09_init.ts
  services/src/user/user-auth-service.integration.test.ts
  services/src/user/user-auth-service.ts
  services/src/user/user-repository.integration.test.ts
  src/routes/(auth)/signup/+page.server.ts
  src/routes/(auth)/signup/schema.ts
  src/routes/(auth)/signup/signup-form.svelte
Due: prettier --write, eslint --fix

added user information to sidebar
  eslint.config.js
  services/src/user/user-service.integration.test.ts
  services/src/user/user-service.ts
  src/components/sidebar/sidebar.svelte
  src/components/ui/user-icon/user-default-icon.svelte
  src/routes/(authenticated)/+layout.server.ts
  src/routes/(authenticated)/+layout.svelte
  src/routes/(authenticated)/+layout.ts
Due: prettier --write, eslint --fix

added omit utility
  eslint.config.js
  services/src/user/user-service.ts
  services/src/util/omit.ts
  services/src/util/omit.unit.test.ts
Due: prettier --write, eslint --fix

made authenticated layout load funtion more explicit
  src/routes/(authenticated)/+layout.ts
Due: prettier --write, eslint --fix

fixed tests
  services/src/user/user-service.ts
Due: prettier --write, eslint --fix

(feat) add first and last name to user (#88)
  eslint.config.js
  services/src/auth/auth.unit.test.ts
  services/src/kysely/migrations/2024-04-28T09_init.ts
  services/src/user/user-auth-service.integration.test.ts
  services/src/user/user-auth-service.ts
  services/src/user/user-repository.integration.test.ts
  services/src/user/user-service.integration.test.ts
  services/src/user/user-service.ts
  services/src/user/user.ts
  services/src/util/omit.ts
  services/src/util/omit.unit.test.ts
  src/components/sidebar/sidebar.svelte
  src/components/ui/user-icon/user-default-icon.svelte
  src/routes/(auth)/signup/+page.server.ts
  src/routes/(auth)/signup/schema.ts
  src/routes/(auth)/signup/signup-form.svelte
  src/routes/(authenticated)/+layout.server.ts
  src/routes/(authenticated)/+layout.svelte
  src/routes/(authenticated)/+layout.ts
Due: prettier --write, eslint --fix

adds missing dep
  package.json
  pnpm-lock.yaml
Due: prettier --write

adds e2e test with registration and login workflow
  .github/workflows/ci.yaml
  .gitignore
  e2e/specs/new-user-flow.spec.ts
  package.json
  playwright.config.ts
  src/routes/(auth)/login/login-form.svelte
  src/routes/(auth)/signup/+page.server.ts
  src/routes/(auth)/signup/signup-form.svelte
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix

install only chromium
  .github/workflows/ci.yaml
Due: none

adds data test ids
  e2e/specs/new-user-flow.spec.ts
  src/routes/(auth)/login/login-form.svelte
  src/routes/(auth)/signup/signup-form.svelte
Due: prettier --write, eslint --fix

(feat): adds e2e test with registration and login workflow (#97)
  .github/workflows/ci.yaml
  .gitignore
  e2e/specs/new-user-flow.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/routes/(auth)/login/login-form.svelte
  src/routes/(auth)/signup/+page.server.ts
  src/routes/(auth)/signup/signup-form.svelte
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix

added playwright fixture to reset db
  e2e/specs/fixtures.ts
  e2e/specs/new-user-flow.spec.ts
  package.json
  services/src/kysely/migrations/2024-04-28T09_init.ts
  services/src/kysely/migrator.ts
Due: prettier --write, eslint --fix

added transactional context to up migrations
  services/src/kysely/migrations/2024-04-28T09_init.ts
Due: prettier --write, eslint --fix

added local testing to playwright setup
  e2e/specs/new-user-flow.spec.ts
  e2e/specs/util.ts
  package.json
  playwright.config.local.ts
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

sped up migrations inside e2e tests
  e2e/specs/fixtures.ts
Due: prettier --write, eslint --fix

minor changes
  playwright.config.local.ts
  services/src/kysely/migrator.ts
Due: prettier --write, eslint --fix

added programatic way to setup user and barebone projects e2e test
  e2e/specs/create-project-flow.spec.ts
  e2e/specs/fixtures.ts
  e2e/specs/new-user-flow.spec.ts
  e2e/specs/util.ts
Due: prettier --write, eslint --fix

renamed projects test
  e2e/specs/create-project-flow.spec.ts
Due: prettier --write, eslint --fix

move utils
  components.json
  src/lib/utils/seo.ts
  src/lib/utils/shadcn.ts
Due: prettier --write, eslint --fix

add delete account
  services/src/user/user-repository.integration.test.ts
  services/src/user/user-repository.ts
  services/src/user/user-service.integration.test.ts
  services/src/user/user-service.ts
  src/routes/(authenticated)/profile/+server.ts
Due: prettier --write, eslint --fix

add profile page with delete account functionality
  src/components/secondary-side-bar/SecondarySideBar.svelte
  src/components/separator/Separator.svelte
  src/components/ui/alert/alert-description.svelte
  src/components/ui/alert/alert-title.svelte
  src/components/ui/alert/alert.svelte
  src/components/ui/button/button.svelte
  src/components/ui/card/card-description.svelte
  src/components/ui/card/card-footer.svelte
  src/components/ui/card/card-header.svelte
  src/components/ui/card/card-title.svelte
  src/components/ui/card/card.svelte
  src/components/ui/checkbox/checkbox.svelte
  src/components/ui/dialog/dialog-content.svelte
  src/components/ui/dialog/dialog-description.svelte
  src/components/ui/dialog/dialog-footer.svelte
  src/components/ui/dialog/dialog-header.svelte
  src/components/ui/dialog/dialog-overlay.svelte
  src/components/ui/dialog/dialog-portal.svelte
  src/components/ui/dialog/dialog-title.svelte
  src/components/ui/dialog/index.ts
  src/components/ui/form/form-description.svelte
  src/components/ui/form/form-element-field.svelte
  src/components/ui/form/form-field-errors.svelte
  src/components/ui/form/form-field.svelte
  src/components/ui/form/form-fieldset.svelte
  src/components/ui/form/form-label.svelte
  src/components/ui/form/form-legend.svelte
  src/components/ui/input/input.svelte
  src/components/ui/label/label.svelte
  src/components/width-wrapper/MaxWidthWrapper.svelte
  src/routes/(auth)/logout/+page.server.ts
  src/routes/(authenticated)/+layout.server.ts
  src/routes/(authenticated)/profile/+page.svelte
Due: prettier --write, eslint --fix

update code owners
  .github/CODEOWNERS
Due: none

fix check
  src/components/ui/dialog/dialog-content.svelte
  src/components/ui/dialog/dialog-overlay.svelte
Due: prettier --write, eslint --fix

update codeowners
  .github/CODEOWNERS
Due: none

(update) code owners (#102)
  .github/CODEOWNERS
Due: none

fix ci?
  .github/workflows/ci.yaml
Due: none

adds cloudflare adapter
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: prettier --write, eslint --fix

adds vercel adapter
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: prettier --write, eslint --fix
