Repository codingcommons/tiny-tms: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

Fixed two problem with shadcn components regarding pnpm check
  components.json
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button.svelte
  src/components/ui/sonner/sonner.svelte
Due: prettier --write, eslint --fix

Added Steps to migrate database and generate types inside ci
  .github/workflows/ci.yaml
  package.json
Due: prettier --write

Added pnpm check to ci (#51)
  .github/workflows/ci.yaml
  components.json
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button.svelte
  src/components/ui/sonner/sonner.svelte
Due: prettier --write, eslint --fix

adds base table migration
  services/src/kysely/kysely.d.ts
  services/src/kysely/migrations/2024-05-06T21:45:00Z_base_tables.ts
Due: prettier --write, eslint --fix

adds tiny migrations console tool
  package.json
  pnpm-lock.yaml
  services/src/kysely/migration.util.ts
  services/src/kysely/migrator.ts
Due: prettier --write, eslint --fix

adds permission with check to projects_users table
  services/src/kysely/migrations/2024-05-06T21:45:00Z_base_tables.ts
Due: prettier --write, eslint --fix

extends init migration script
  services/src/auth/auth.unit.test.ts
  services/src/kysely/migration.util.ts
  services/src/kysely/migrations/2024-04-28T09:42:38Z_init.ts
  services/src/kysely/migrations/2024-05-06T21:45:00Z_base_tables.ts
  services/src/user/user-auth-service.integration.test.ts
  services/src/user/user-repository.integration.test.ts
  services/src/user/user-repository.ts
  services/src/user/user.ts
Due: prettier --write, eslint --fix

improves migration cli
  package.json
  services/src/db/database-migration-util.ts
  services/src/kysely/migrator.ts
  services/src/kysely/migrator.util.ts
Due: prettier --write, eslint --fix

adds fallback per language, adds base language for project and splits translations and keys table
  services/src/kysely/migrations/2024-04-28T09:42:38Z_init.ts
Due: prettier --write, eslint --fix

makes languages only exist in context of projects
  services/src/kysely/migrations/2024-04-28T09:42:38Z_init.ts
Due: prettier --write, eslint --fix

runs latest db migration before starting dev server
  package.json
Due: prettier --write

removes augmentation and adds utility functions that provide common columns
  services/src/kysely/kysely.d.ts
  services/src/kysely/migration.util.ts
  services/src/kysely/migrations/2024-05-06T21:45:00Z_base_tables.ts
Due: prettier --write, eslint --fix

updates pnpm lockfile
  pnpm-lock.yaml
Due: none

fixes pnpm lockfile after merge
  pnpm-lock.yaml
Due: none

uses migrate:latest in ci pipeline
  .github/workflows/ci.yaml
Due: none

adds base db schemas (#13)
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
  services/src/auth/auth.unit.test.ts
  services/src/db/database-migration-util.ts
  services/src/kysely/migration.util.ts
  services/src/kysely/migrations/2024-04-28T09:42:38Z_init.ts
  services/src/kysely/migrator.ts
  services/src/kysely/migrator.util.ts
  services/src/user/user-auth-service.integration.test.ts
  services/src/user/user-repository.integration.test.ts
  services/src/user/user-repository.ts
  services/src/user/user.ts
Due: prettier --write, eslint --fix

Updated renovate to automerge minor and patch updates if tests pass every week on sundays
  renovate.json
Due: prettier --write

feat) Updated renovate (#48)
  renovate.json
Due: prettier --write

adds multi stage dockerfile that uses pnpm to build sveltekit app
  .dockerignore
  Dockerfile
  package.json
Due: prettier --write

mounts database file via volume
  Dockerfile
  docker-compose.yaml
Due: none

adds docker compose
  docker-compose.yaml
Due: none

(feat) Dockerize app (#52)
  .dockerignore
  Dockerfile
  docker-compose.yaml
  package.json
Due: prettier --write

added knip
  knip.json
  package.json
  pnpm-lock.yaml
  svelte.config.js
  vite.config.js
Due: prettier --write, eslint --fix

Migrating config to new eslint flat version
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Updated Renovate config
  renovate.json
Due: prettier --write

Updated Renovate config (#69)
  renovate.json
Due: prettier --write

Removed Schedule and added infinte branch limit
  renovate.json
Due: prettier --write

Removed Schedule and added infinte branch limit (#70)
  renovate.json
Due: prettier --write

Added renovate branches to be run on push
  .github/workflows/ci.yaml
Due: none

Config renovate minor (#71)
  .github/workflows/ci.yaml
Due: none

Added basic auth layout
  src/routes/(auth)/+layout.svelte
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

Updated design of Login page Added placeholder pages
  src/components/ui/checkbox/checkbox.svelte
  src/components/ui/checkbox/index.ts
  src/routes/(auth)/+layout.svelte
  src/routes/(auth)/forgot-password/+page.svelte
  src/routes/(auth)/login/login-form.svelte
  src/routes/(terms-policy)/code-of-conduct/+page.svelte
  src/routes/(terms-policy)/privacy-policy/+page.svelte
Due: prettier --write, eslint --fix

Redesigned Register page Added terms of service placeholder page
  src/hooks.server.ts
  src/routes/(auth)/signup/schema.ts
  src/routes/(auth)/signup/signup-form.svelte
  src/routes/(terms-policy)/terms-of-service/+page.svelte
Due: prettier --write, eslint --fix

Fixed error inside autogenerated checkbox component
  src/components/ui/checkbox/checkbox.svelte
Due: prettier --write, eslint --fix

Fixed bug regarding checkbox in signup page
  src/routes/(auth)/signup/signup-form.svelte
Due: prettier --write, eslint --fix

Improved design
  src/components/ui/theme-selector/index.ts
  src/components/ui/theme-selector/theme-selector.svelte
  src/routes/(auth)/+layout.svelte
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

Finally managed to get basic checked css to work
  src/components/ui/theme-selector/theme-selector.svelte
Due: prettier --write, eslint --fix

Improved design of checks inside auth layout
  src/routes/(auth)/+layout.svelte
Due: prettier --write, eslint --fix

Cleaned up public routes
  src/hooks.server.ts
Due: prettier --write, eslint --fix

continue
  services/src/auth/api-key.service.ts
  services/src/auth/api-key.ts
  services/src/project/project.ts
Due: prettier --write, eslint --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --write: ((any of: *.{js,ts,d.ts}) or (any of: *.json)) or (any of: *.svelte)
  eslint --fix: (any of: *.{js,ts,d.ts}) or (any of: *.svelte)
